/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black:  #000000;
$dark:   #3D3D3F;
$light:  #EAEBEC;
$red:    #e15555;
$white:  #ffffff;
$purple: #DC93E2;
$blue:   #3023AE;



/*
--------------------------------------------------------------------------------
IMAGES
--------------------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/
$radius: .2rem;
